<app-navigation></app-navigation>
<div
  class="mt-28
         flex
         flex-col
         justify-center
         px-32
         "
>
  <div class="flex flex-row">
    <div
      class="w-1/2
             p-4 
             font-normal
             flex
             flex-col
             justify-center"
    >
      <div class="flex flex-row">
        <h1
          class="text-6xl
                 font-bold
                 mb-2
                 ml-20
                 uppercase
                 stroke-outline
                 text-black"
        >
          The <span class="text-white">fastest</span> and <span class="text-white">safest</span> paymest system ever <span class="text-white">existed</span>
        </h1>
      </div>
      <p
        class="text-lg
              ml-20"
      >
        Powered on <a class="font-bold hover:font-black hover:scale-105 cursor-pointer duration-200">TigerBeetle</a>
      </p>
      
    </div>
    <div
      class="w-1/2
             p-4 
             flex
             flex-col
             items-center
             justify-center"
    >
      <img
      src="../assets/tiger-logo-face.svg"
      alt="Image"
      class="w-[28rem]
            h-[28rem]
            object-cover
            absolute
            -z-10
            blur-3xl
            mr-4">
      <img
        src="../assets/tiger-logo-face.svg"
        alt="Image"
        class="w-[28rem]
               h-[28rem]
               object-cover
               mr-4">
    </div>
  </div>
</div>