<form
  class="flex
         flex-col
         "
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <h1
    class="mx-auto
           text-2xl
           uppercase
           font-bold
           text-black
           dark:text-white
           mb-2"
  >Transfer money</h1>
  
  <!-- <input
    type="text"
    class="border
         border-white
         bg-black
           focus:outline-1
           py-2
           px-4
           w-full"
    placeholder="Phone number"
    formControlName="phoneNumber"
  > -->
  <app-text-input
    placeHolder="PHONE NUMBER"
    parentFormGroupName="phoneNumber"
  ></app-text-input>
  <p
    class="mx-auto
           mb-4
           text-neutral-600"
  >or</p>
  <!-- <input
    type="text"
    class="border
         border-white
         bg-black
           focus:outline-1
           py-2
           px-4
           mt-2
           w-full"
    placeholder="Account UUID"
    formControlName="accountUuid"
  > -->
  <app-text-input
    placeHolder="ACCOUNT UUID"
    parentFormGroupName="accountUuid"
  ></app-text-input>
  <!-- <input
    type="text"
    class="border
         border-white
         bg-black
           focus:outline-1
           py-2
           px-4
           mt-5
           w-full"
    placeholder="Amount"
    formControlName="amount"
  > -->
  <app-text-input
    placeHolder="AMOUNT"
    parentFormGroupName="amount"
  ></app-text-input>
  <app-checkbox
    label="Create bill"
    parentFormGroupName="sendBill"
  ></app-checkbox>
  <app-button
    class="mt-4"
    type="submit"
    [disabledCondition]="this.form.invalid || (this.form.value.phoneNumber === '' && this.form.value.accountUuid === '')"
    label="Transfer"
  >
  </app-button>
</form>