<form
  class="flex
         flex-col
         "
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <h1
    class="mx-auto
           text-2xl
           uppercase
           font-bold
           mb-2"
  >Transfer money</h1>
  
  <input
    type="text"
    class="border
         border-white
         bg-black
           focus:outline-1
           py-2
           px-4
           w-full"
    placeholder="Phone number"
    formControlName="phoneNumber"
  >
  <p
    class="mx-auto
           mt-2
           text-neutral-600"
  >or</p>
  <input
    type="text"
    class="border
         border-white
         bg-black
           focus:outline-1
           py-2
           px-4
           mt-2
           w-full"
    placeholder="Account UUID"
    formControlName="accountUuid"
  >
  <input
    type="text"
    class="border
         border-white
         bg-black
           focus:outline-1
           py-2
           px-4
           mt-5
           w-full"
    placeholder="Amount"
    formControlName="amount"
  >
  <app-checkbox
    class="mt-4"
    label="Create bill"
    parentFormGroupName="sendBill"
  ></app-checkbox>
  <button
        class="w-full
              py-2
              px-4
              mt-4
              border
              bg-black
              text-white
              font-bold
              uppercase
              hover:bg-white 
              hover:text-black
              active:bg-black
              active:text-white
              disabled:text-neutral-400
              disabled:border-neutral-400
              disabled:hover:text-neutral-800
              disabled:hover:bg-neutral-400
              disabled:cursor-not-allowed
              active:duration-150
              duration-300"
        type="submit"
        [disabled]="this.form.invalid || (this.form.value.phoneNumber === '' && this.form.value.accountUuid === '')"
      >
        Transfer
      </button>
</form>