<app-modal>
  <app-error
    [message]="errorMessage"
  ></app-error>
</app-modal>

<div
  class="px-48
         flex
         flex-col
         items-center
         mt-20
         justify-center"
>
  <div
    class="w-96
           border
           border-dashed
           pt-8
           pb-12
           px-8
           border-neutral-700"
  >
    <h1
      class="mx-auto
            text-2xl
            uppercase
            font-bold
            text-black
            dark:text-white
            mb-2"
    >Sign Up</h1>
    <form
      class="
            justify-between
            mx-auto"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <p
        class="text-red-500
               font-medium
               text-xs
               uppercase
               absolute
               blur-sm
               -z-10"
        *ngIf="firstName.errors?.required && firstName.touched"
      >
        Firstname is required
      </p>
      <p
        class="text-red-500
             font-medium
             text-xs
             uppercase"
        *ngIf="firstName.errors?.required && firstName.touched"
      >
        Firstname is required
      </p>
      <app-text-input
        placeHolder="FIRSTNAME"
        parentFormGroupName="firstName"
      ></app-text-input>
      <p
        class="text-red-500
               font-medium
               text-xs
               uppercase
               absolute
               blur-sm
               -z-10"
        *ngIf="lastName.errors?.required && lastName.touched"
      >
        Lastname is required
      </p>
      <p
        class="text-red-500
             font-medium
             text-xs
             uppercase"
        *ngIf="lastName.errors?.required && lastName.touched"
      >
        Lastname is required
      </p>
      <app-text-input
        placeHolder="LASTNAME"
        parentFormGroupName="lastName"
      ></app-text-input>
      <app-text-input
        placeHolder="MIDDLENAME (OPTIONAL)"
        parentFormGroupName="middleName"
      ></app-text-input>
      <p
        class="text-red-500
               font-medium
               text-xs
               uppercase
               absolute
               blur-sm
               -z-10"
        *ngIf="emailAddress.errors?.required && emailAddress.touched"
      >
        Email address is required
      </p>
      <p
        class="text-red-500
             font-medium
             text-xs
             uppercase"
        *ngIf="emailAddress.errors?.required && emailAddress.touched"
      >
        Email address is required
      </p>
      <p
        class="text-red-500
               font-medium
               text-xs
               uppercase
               absolute
               blur-sm
               -z-10"
        *ngIf="emailAddress.errors?.email && emailAddress.touched"
      >
        Email address is incorrect
      </p>
      <p
        class="text-red-500
             font-medium
             text-xs
             uppercase"
        *ngIf="emailAddress.errors?.email && emailAddress.touched"
      >
        Email address is incorrect
      </p>
      <app-text-input
        placeHolder="EMAIL ADDRESS"
        parentFormGroupName="emailAddress"
      ></app-text-input>
      <p
        class="text-red-500
               font-medium
               text-xs
               uppercase
               absolute
               blur-sm
               -z-10"
        *ngIf="phoneNumber.errors?.required && phoneNumber.touched"
      >
        Phone number is required
      </p>
      <p
        class="text-red-500
             font-medium
             text-xs
             uppercase"
        *ngIf="phoneNumber.errors?.required && phoneNumber.touched"
      >
        Phone number is required
      </p>
      <p
        class="text-red-500
               font-medium
               text-xs
               uppercase
               absolute
               blur-sm
               -z-10"
        *ngIf="phoneNumber.errors?.pattern && phoneNumber.touched"
      >
        Phone number is not valid
      </p>
      <p
        class="text-red-500
             font-medium
             text-xs
             uppercase"
        *ngIf="phoneNumber.errors?.pattern && phoneNumber.touched"
      >
        Phone number is not valid
      </p>
      <app-text-input
        placeHolder="PHONE NUMBER"
        parentFormGroupName="phoneNumber"
      ></app-text-input>
      <p
        class="text-red-500
               font-medium
               text-xs
               uppercase
               absolute
               blur-sm
               -z-10"
        *ngIf="password.errors?.required && password.touched"
      >
        Password is required
      </p>
      <p
        class="text-red-500
             font-medium
             text-xs
             uppercase"
        *ngIf="password.errors?.required && password.touched"
      >
        Password is required
      </p>
      <p
        class="text-red-500
               font-medium
               text-xs
               uppercase
               absolute
               blur-sm
               -z-10"
        *ngIf="password.errors?.pattern && password.touched"
      >
        Password is too easy
      </p>
      <p
        class="text-red-500
             font-medium
             text-xs
             uppercase"
        *ngIf="password.errors?.pattern && password.touched"
      >
        Password is too easy
      </p>
      <app-text-input
        placeHolder="PASSWORD"
        parentFormGroupName="password"
      ></app-text-input>
      <app-button
        [disabledCondition]="form.invalid"
        label="Submit"
        type="submit"
      ></app-button>
    </form>
  </div>
</div>
