<app-tab-bar
  [items]="tabBarItems"
  [active]="activeTab"
  (onTabSelect)="changeTab($event)"
></app-tab-bar>

<div
  class="px-48
         flex
         flex-col
         mt-8
         w-full
         mx-auto"
>
  @if (activeTab === 'General') {
    <app-dashboard-wallet
      [accountItems]="accountItems"
      (tabHandler)="changeTab($event)"
    ></app-dashboard-wallet>
  }

  @else if (activeTab === 'Operations') {
    <app-dashboard-operations
      [accountItems]="accountItems"
    ></app-dashboard-operations>
  }

  @else if (activeTab === 'Payments') {
    <app-dashboard-payments
      [accountItems]="accountItems"
      [modalService]="modalService"
    >
    </app-dashboard-payments>
  }
</div>