.gradient-bottom-left {
  background: radial-gradient(at top right, #121212 5%, #0a0a0a);
}

.gradient-top-left {
  background: radial-gradient(at bottom right, #121212 5%, #0a0a0a);
}

.gradient-right {
  background: radial-gradient(at left, #121212 25%, #0a0a0a);
}

.gradient-left {
  background: radial-gradient(at right, #121212 25%, #0a0a0a);
}

.gradient-top {
  background: radial-gradient(at bottom, #121212 25%, #0a0a0a);
}

.gradient-bottom {
  background: radial-gradient(at top, #121212 25%, #0a0a0a);
}