<div
  class="w-40"
>
  <p
    class="text-neutral-800
           text-sm"
  >
    {{ selectLabel }}
  </p>
  
  <div
    class="border
           border-neutral-500
           bg-neutral-200
           text-neutral-800
           hover:border-neutral-600
           hover:bg-neutral-300
           active:border-neutral-700
           active:bg-neutral-400
           duration-200
           cursor-pointer
           rounded-t-md
           flex
           justify-between
           py-[2px]
           px-2
           w-full
           items-center"
    (click)="isOpen = !isOpen"
    [ngClass]="{
      'rounded-b-md': !isOpen
    }"
  >
    <h1
      class="text-sm
            font-semibold"
    >
      {{ selectedItem.label }}
    </h1>
    <p
      class="text-[10px]
            text-neutral-400"
    >
      {{ selectedItem.secondary }}
    </p>
  </div>
  
  @if (isOpen) {
    <div
      class="border-b
             border-l
             border-r
             border-neutral-500
             bg-neutral-200
             text-neutral-800
             rounded-b-md
             py-[2px]
             px-2
             mt-0
             w-40"
      [ngClass]="{
        'absolute': isOpen
      }"
      @fadeInOut
    >
      @for (item of items; track $index) {
        <div
          class="flex
                 flex-col
                 hover:text-neutral-500
                 active:text-neutral-800
                 duration-200
                 cursor-pointer
                 mb-1"
          (click)="selectItem($index)"
        >
          <h1
            class="text-sm
                   font-semibold"
          >
            {{ item.label }}
          </h1>
          <p
            class="text-[10px]
                   -mt-[6px]
                   text-neutral-400"
          >
            {{ item.secondary }}
          </p>
        </div>
      }
    </div>
  }
</div>