<app-modal>
  @if (paymentService.areAccountsLoaded | async) {
    @if (showDeposit) {
      <app-dashboard-deposit
        [accountItems]="accountItems"
      ></app-dashboard-deposit>
    }
    @if (showWithdrawal) {
      <app-dashboard-withdrawal
        [accountItems]="accountItems"
      ></app-dashboard-withdrawal>
    }
  }
</app-modal>

<div
  class="w-full
         flex
         flex-row"
  [@fadeIn]
>
  <div
    class="w-1/4
           flex
           flex-col"
  >
    <app-card
      [gradientBg]="true"
      gridPosition="top-left"
      title="Balance"
    >
      <h1
        class="relative
               text-3xl
               font-bold
               backdrop-blur-lg"
      >
        @if (paymentService.areAccountsLoaded | async) {
          <span
            class="relative fadeInAnimation"
            [ngClass]="{
              'text-green-500': paymentService.getTransfersState()?.length > 0 && paymentService.getTransfersState()[0].receiverId === paymentService.getCurrentAccountState()?.id,
              'text-red-500': paymentService.getTransfersState()?.length > 0 && paymentService.getTransfersState()[0].senderId === paymentService.getCurrentAccountState()?.id
            }"
          >
            {{ paymentService.getCurrentAccountState()?.balance | currency:paymentService.getCurrentAccountState()?.ledger }}
          </span>
  
          <span
            class="absolute
                   -z-40
                   w-fit
                   inset-0
                   bg-green-500
                   opacity-25
                   blur-lg"
            [ngClass]="{
              'bg-green-500': paymentService.getTransfersState()?.length > 0 && paymentService.getTransfersState()[0].receiverId === paymentService.getCurrentAccountState()?.id,
              'bg-red-500': paymentService.getTransfersState()?.length > 0 && paymentService.getTransfersState()[0].senderId === paymentService.getCurrentAccountState()?.id
            }"
          >
            {{ paymentService.getCurrentAccountState()?.balance | currency:paymentService.getCurrentAccountState()?.ledger }}
          </span>
        } @else {
          <span
            class="skeleton-loading
                   rounded-md
                  h-[29px]"
            [style.width]="'120px'"
          ></span>
        }
      </h1>
      @if (paymentService.areAccountsLoaded | async) {
        <p
          class="text-neutral-500
                   text-sm
                   -mt-1"
        >
          @if (paymentService.getTransfersState()?.length > 0) {
            {{ paymentService.getTransfersState()[0].amount | currency:paymentService.getCurrentAccountState()?.ledger }} last transaction
          } @else {
            No transfers
          }
        </p>
      } @else {
        <span
          class="skeleton-loading
                 rounded-md
                 h-[15px]
                 -mt-1"
          [style.width]="'40%'"
        ></span>
      }
    </app-card>

    <app-card
      class="mt-8"
      [gradientBg]="true"
      gridPosition="bottom-left"
      title="Transactions"
    >
      <h1
        class="relative
               text-3xl
               font-bold
               backdrop-blur-lg
               text-neutral-900
               dark:text-neutral-200"
      >
        @if (paymentService.areAccountsLoaded | async) {
          <span
            class="relative"
          >
            {{ paymentService.getTransfersState()?.length }}
          </span>
  
          <span
            class="absolute
                   -z-40
                   w-fit
                   inset-0
                   bg-neutral-900
                   dark:bg-neutral-200
                   opacity-25
                   blur-lg"
          >
            {{ paymentService.getTransfersState()?.length }}
          </span>
        } @else {
          <span
            class="skeleton-loading
                   rounded-md
                   h-[29px]"
            [style.width]="'120px'"
          ></span>
        }
      </h1>
      @if (paymentService.areAccountsLoaded | async) {
        <p
          class="text-neutral-500
                   text-sm
                   -mt-1"
        >
          At this month
        </p>
      } @else {
        <span
        class="skeleton-loading
               rounded-md
               h-[15px]
               -mt-1"
        [style.width]="'40%'"
      ></span>
      }
    </app-card>
  </div>

  <div
    class="w-3/4
           flex
           ml-8"
  >
    <app-card
      class="w-full"
      [gradientBg]="true"
      gridPosition="right"
      title="Overview"
    >
      <h1
        class="text-lg
               text-black
               dark:text-white"
        *ngIf="accountService.isLoaded | async"
      >
        {{
          accountService.getState()?.lastName + ' ' +
            accountService.getState()?.firstName + ' ' +
            accountService.getState()?.middleName
        }}
      </h1>
      <h1
        class="text-lg
               text-black
               dark:text-white"
        *ngIf="!(accountService.isLoaded | async)"
      >
        <span
          class="skeleton-loading
                 rounded-md
                 h-[20px]"
          [style.width]="'250px'"
          ></span>
      </h1>

      @if (paymentService.areAccountsLoaded | async) {
        <app-dropdown
          selectLabel="Select account"
          [items]="accountItems"
          [selectedIndex]="paymentService.getCurrentAccountIndexState() ?? 0"
          (onSelect)="onSelectItem($event)"
        ></app-dropdown>
      } @else {
        <span
          class="skeleton-loading
                 rounded-md
                 h-[40px]"
          [style.width]="'160px'"
          ></span>
      }
      
      <h1
        class="text-lg
               font-bold
               mt-5
               text-black
               dark:text-white"
      >
        Account details
      </h1>
      <div
        class="text-sm
               text-neutral-600"
      >
        <app-copy-text
          [payload]="paymentService.getCurrentAccountState()?.id"
          possibleWidth="170px"
          [lazy]="!(accountService.isLoaded | async)"
        ></app-copy-text>
        <app-copy-text
          [payload]="accountService.getState()?.phoneNumber"
          possibleWidth="110px"
          [lazy]="!(accountService.isLoaded | async)"
        ></app-copy-text>
      </div>

      <div
        class="flex
               flex-row
               justify-between
               w-full
               mt-4"
      >
        <app-card-button
          class="w-[48%]"
          label="Deposit"
          [iconUrl]="getDepositIconSrc()"
          (click)="openDeposit()"
        ></app-card-button>
        <app-card-button
          class="w-[48%]"
          label="Withdrawal"
          [iconUrl]="getWithdrawalIconSrc()"
          (click)="openWithdrawal()"
        ></app-card-button>
      </div>
    </app-card>
  </div>
</div>
