@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('/FKGroteskNeue-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('/FKGroteskNeue-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('./FKGroteskNeue-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('./FKGroteskNeue-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('./FKGroteskNeue-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('./FKGroteskNeue-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('./FKGroteskNeue-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('./FKGroteskNeue-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('./FKGroteskNeue-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('./FKGroteskNeue-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('./FKGroteskNeue-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('./FKGroteskNeue-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}