<button
  class="w-full
        py-2
        px-4
        border
        bg-white
        text-black
        dark:bg-black
        dark:text-white
        font-bold
        uppercase
        hover:bg-black
        hover:text-white
        hover:dark:bg-white 
        hover:dark:text-black
        border-black
        dark:border-white
        active:bg-white
        active:text-black
        active:dark:bg-black
        active:dark:text-white
        disabled:text-neutral-400
        disabled:border-neutral-400
        disabled:hover:text-neutral-300
        disabled:hover:bg-neutral-400
        disabled:dark:text-neutral-400
        disabled:dark:border-neutral-400
        disabled:dark:hover:text-neutral-800
        disabled:dark:hover:bg-neutral-400
        disabled:cursor-not-allowed
        active:duration-150
        duration-300"
  [type]="type"
  [disabled]="disabledCondition"
>
  Submit
</button>