<button
  class="border-neutral-400
        dark:border-[#222]
         border
         w-full
         rounded-2xl
         h-full
         px-5
         py-4
         shadow-lg
         dark:bg-neutral-900
         hover:dark:bg-neutral-800
         hover:dark:border-[#333]
         active:dark:bg-neutral-900
         active:bg-neutral-400
         bg-neutral-200
         hover:bg-neutral-300
         hover:border-neutral-600
         active:duration-150
         duration-300"
>
  <div
    class="flex
           flex-row
           justify-center"
  >
    <img
      [src]="iconUrl"
      *ngIf="iconUrl !== ''"
      width="16"
      height="16"
      class="mr-2"
    >
    <h1 class="text-black dark:text-white">{{ label }}</h1>
  </div>
</button>