<div
  class="flex
         flex-row
         justify-start
         px-2
         py-[2px]
         bg-neutral-900
         hover:bg-neutral-800
         duration-300
         w-fit
         rounded-lg
         border
         border-[#222]
         hover:border-[#333]"
>
  <div
    class="w-3
           h-3
           my-auto
           rounded-lg
           absolute
           mt-1
           blur-sm
           mr-1"
    [ngClass]="{
      'bg-neutral-100': color === 'white',
      'bg-red-500/50': color === 'red',
      'bg-orange-500/50': color === 'orange',
      'bg-yellow-500/50': color === 'yellow',
      'bg-amber-500/50': color === 'amber',
      'bg-lime-500/50': color === 'lime',
      'bg-green-500/50': color === 'green',
      'bg-emerald-500/50': color === 'emerald',
      'bg-teal-500/50': color === 'teal',
      'bg-cyan-500/50': color === 'cyan',
      'bg-sky-500/50': color === 'sky',
      'bg-blue-500/50': color === 'blue',
      'bg-indigo-500/50': color === 'indigo',
      'bg-violet-500/50': color === 'violet',
      'bg-purple-500/50': color === 'purple',
      'bg-fuchsia-500/50': color === 'fuchsia',
      'bg-pink-500/50': color === 'pink',
      'bg-rose-500/50': color === 'rose'
    }"
  >
  </div>
  <div
    class="w-3
           h-3
           my-auto
           rounded-lg
           mr-1"
    [ngClass]="{
      'bg-neutral-100': color === 'white',
      'bg-red-500': color === 'red',
      'bg-orange-500': color === 'orange',
      'bg-amber-500': color === 'amber',
      'bg-yellow-500': color === 'yellow',
      'bg-lime-500': color === 'lime',
      'bg-green-500': color === 'green',
      'bg-emerald-500': color === 'emerald',
      'bg-teal-500': color === 'teal',
      'bg-cyan-500': color === 'cyan',
      'bg-sky-500': color === 'sky',
      'bg-blue-500': color === 'blue',
      'bg-indigo-500': color === 'indigo',
      'bg-violet-500': color === 'violet',
      'bg-purple-500': color === 'purple',
      'bg-fuchsia-500': color === 'fuchsia',
      'bg-pink-500': color === 'pink',
      'bg-rose-500': color === 'rose'
    }"
  >
  </div>
  <h1
    class="mt-[2px]
           uppercase
           text-sm
           text-neutral-300
           mr-1"
  >
    {{ tag }}
</h1>
  <p
    class="text-[10px]
           mt-[4px]
           monospaced
           text-neutral-500"
    *ngIf="extra !== null"
  >
    {{ extra }}
  </p>
</div>