<nav
  class="right-0
         left-0
         h-[50px]
         px-32
         flex
         justify-start
         bg-neutral-900/50
         border-b
         border-[#222]
         text-white"
>
  <div
    class="last:mr-0
           pt-3
           mr-[30px]
           text-neutral-500
           hover:text-neutral-400
           duration-200"
    *ngFor="let tab of items"
    (click)="select(tab)"
    [ngClass]="{
      'text-white \
       border-b-4 \
       border-white': tab.id === active?.id
    }"
  >
    <a
      class="cursor-pointer
             decoration"
      [ngClass]="{
        'text-white': tab.id === active?.id
      }"
    >
      {{ tab.label || tab[labelField] }}
    </a>
  </div>
</nav>