<nav
  class="right-0
         left-0
         h-[50px]
         px-48
         flex
         justify-start
         dark:bg-neutral-900/50
         border-b
         dark:border-[#222]
         dark:text-white
         bg-neutral-100
         border-neutral-200
         text-black"
>
  <div
    class="last:mr-0
           pt-3
           mr-[30px]
           text-neutral-500
           hover:text-neutral-400
           duration-100"
    *ngFor="let tab of items"
    (click)="select(tab)"
    [ngClass]="{
      'text-black \ dark:text-white \
       border-b-4 \
       border-black dark:border-white': tab.id === active?.id
    }"
  >
    <a
      class="cursor-pointer
             decoration"
      [ngClass]="{
        'text-black dark:text-white': tab.id === active?.id
      }"
    >
      {{ tab.label || tab[labelField] }}
    </a>
  </div>
</nav>