<div
  class="w-full
         flex
         flex-row"
  [@fadeIn]
>
  <div
    class="w-full
           flex
           flex-col"
  >
    <app-card
      class="w-full"
      [gradientBg]="true"
      gridPosition="top"
      title="Expense"
      [displayTitle]="false"
    >
      <div
        class="flex
               flex-row"
      >
        <div
          class="w-1/2
                 flex
                 flex-col"
        >
          <h1
            class="text-lg
                   font-bold
                   mb-2
                   text-black
                   dark:text-white"
          >
            Expense
          </h1>
          <div
            class="flex
                   flex-row
                   flex-wrap
                   gap-1"
          >
            <app-tag
              *ngFor="let tag of expenseTagData; let i = index"
              [tag]="tag.tag"
              [color]="expenseTagColors[i]"
              [extra]="tag.extra"
            ></app-tag>
          </div>
        </div>

        <div
          class="w-1/2
                 flex
                 flex-row-reverse"
        >
          <app-ring-chart
            name="expense"
            class="w-fit"
            [data]="expenseChartData"
            [colors]="expenseChartColors"
          ></app-ring-chart>
        </div>
      </div>
    </app-card>

    <app-card
      class="w-full
             mt-8"
      [gradientBg]="true"
      gridPosition="bottom"
      title="Expense"
      [displayTitle]="false"
    >
      <div
        class="flex
               flex-row"
      >
        <div
          class="w-1/2
                 flex
                 flex-col"
        >
          <h1
            class="text-lg
                   font-bold
                   mb-2
                   text-black
                   dark:text-white"
          >
            Revenue
          </h1>
          <div
            class="flex
                   flex-row
                   flex-wrap
                   gap-1"
          >
          <app-tag
            *ngFor="let tag of revenueTagData; let i = index"
            [tag]="tag.tag"
            [color]="revenueTagColors[i]"
            [extra]="tag.extra"
          ></app-tag>
          </div>
        </div>

        <div
          class="w-1/2
                 flex
                 flex-row-reverse"
        >
          <app-ring-chart
            name="revenue"
            class="w-fit"
            [data]="revenueChartData"
            [colors]="revenueChartColors"
          ></app-ring-chart>
        </div>
      </div>
    </app-card>
  </div>
</div>